# To install use this --> pip install -r requirements.txt
# To make requirements txt after installing, use this --> pip freeze > requirements.txt

pyttsx3
pyaudio
pyjokes
speechRecognition
wikipedia







